.container{
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    overflow: hidden;
}
.listOfUsers{
    width: 30%;
    height: 100%;
    overflow-x: hidden;
    border-right: 1px solid #ccc;
}
.chatArea{
    width: 70%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}
.chatHeader{
    position: fixed;
    width: 70%;
    height: 40px;
    background: #e2e0e0;
    text-align: center;
    line-height: 40px;
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
}
.onlineUsers{
    height: 40px;
    width: 100%;
    background: #e2e0e0;
    position: relative;
}
.chatControls{
    display: flex;
    position: fixed;
    width: 70%;
    height: 60px;
    bottom: 0;
}
.chatControls textarea{
    width: 90%;
    outline: none;
    border: 1px solid #c00316;
    background: #eaeaea;
    padding: 5px 10px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.chatControls button{
    width: 10%;
    border: none;
    background: #c00316;
    color: #fff;
    transition: all .15s linear;
    font-family: 'Montserrat Alternates', sans-serif;
}
.chatControls button:hover{
    background: #9c0414;
}
.displayName{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.displayName.active{
    background: #ccc;
}
.displayName .displayPic{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
}
.displayName .displayPic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.messageStyle{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
}
.messageSections{
    height: calc(100% - 90px);
    width: 100%;
    overflow-x: hidden;
    position: relative;
    top: 40px;
}
.onlineStatus{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: green;
    box-shadow: 0 0 15px 3px #16e316;
}
.onlineStatus.off{
    background: #fff;
    opacity: .5;
    box-shadow: 0 0 0 0;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }